{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ContactsProject</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
{#            <li><a href="{% url 'index_page' %}">Contacts List</a></li>#}
{#            </li>#}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div class="container main_container">
{% block page_content %}
{% endblock %}
</div>
</body>
</html>