{% extends 'base.html' %}

{% block page_content %}
    <a class="btn btn-success" href="{% url 'index_page' %}">Назад к списку</a>
    {% if contact %}
        <h3>{{ contact.owner.username }}</h3>
        <dl class="dl-horizontal">
            <dt>Номер телефона:</dt>
            <dd>{{ contact.phone }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Электронная почта:</dt>
            <dd>{{ contact.email }}</dd>
        </dl>
    {% else %}
        <h3>Нет данных</h3>
    {% endif %}
{% endblock %}