{% extends 'base.html' %}
{% block page_content %}
    <h3>Список пользователей:</h3>
    <ol>
        {% for user in users %}
            <li>
                <a href="{% url 'contacts:contact_page' user.id %}">
                    {{ user.username }}
                </a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}